<div *ngIf="post$ | async as post; else loading">
    <div class="post">
        <h1 class="post__title">{{post.title}}</h1>
        <div class="post__info">
            <strong class="post__author">{{post.author}}</strong>
            <small class="post__date">{{post.date | date: 'dd.MM.yyyy' }}</small>
        </div>
        <div class="post__text">
            <quill-view-html [content]="post.text"></quill-view-html> 
        </div>
        <button class="btn post__btn" routerLink='/'>К постам</button>
    </div>
</div>

<ng-template #loading>
    <p class='text-center'>Пост загружаются...</p>
</ng-template>